*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/loadingBg.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
img{
    animation: pulse 2s infinite ease-in-out alternate;
}

  @keyframes pulse {
    from { transform: scale(0.8); }
    to { transform: scale(0.95); }
  }